.auth
  min-height 100vh
  position relative
  display flex
  flex-direction column
  align-items center
  justify-content center
  padding 2rem


  &:before
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background url('assets/img/bg/iblback.jpg') no-repeat center center / cover
    z-index -2


  &:after
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(0, 77, 155, 0.8) // Color azul con opacidad
    // Alternativa con gradiente:
    // background linear-gradient(rgba(0, 77, 155, 0.8), rgba(0, 48, 97, 0.9))
    z-index -1
  

  .logo-container
    position absolute
    left -250px
    top 50%
    transform translateY(-50%)
    width 180px
    
    img
      width 100%
      height auto

  section 
    position relative
    width 100%
    max-width 400px
    text-align center

    h1
      color white
      font-size 28px
      margin-bottom 0.5rem
      font-weight 500
      text-align left
      

    .forgot-text
      margin -0.5rem 0 1rem
      color white
      font-size 14px
      text-align left
      
      
      a
        color #FFA500


.register-container
  text-align center

.register-text
  color white
  font-size 14px

  .register-link
    color #FFA500
    text-decoration none
    margin-left 5px
    
    &:hover
      text-decoration underline

.social
  display flex
  justify-content center
  gap 10px
  margin-top 10px     
  


  // >footer
  //   text-align right





@media (max-width: d-break)
  .auth .logo-container
    position static
    left auto
    top auto
    transform none
    margin: 1rem 0;

@media (max-width: d-break-2)
  .auth .logo-container
    position static
    left auto
    top auto
    transform none
    margin: 1rem 0;


